<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../public/list.css">
  </head>
  <body>
    <h1>Index</h1>

<!-- and also using code from collection manager project -->
<div id="allRobots">

    {{#models}}
      <div class="indivRobo">
        <img src="{{avatar}}" alt="">
        <a href="/detail/{{id}}">{{name}}</a>
        <p><span>{{job}}{{^job}}{{/job}} {{company}}{{^company}}<span class="available">Available for hire</span>{{/company}}</span></p>

      </div>

      {{/models}}
    </div>

  </body>
</html>
