<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index</h1>

<!-- reusing some code from old robots project -->
<!-- and also using code from collection manager project -->
      {{#users}}
        <div class="allRobots">
        <img src="{{avatar}}" alt="">
        <a href="/detail/{{_id}}">{{name}}</a>
        <p><span>{{job}}{{^job}}{{/job}} {{company}}{{^company}}<span class="available">Available for hire</span>{{/company}}</span></p>
      </div>

      {{/users}}

  </body>
</html>
